* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: linear-gradient(to bottom, black, #FF69B4);
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  header {
    margin-top: 50px;
  }
  
  h1 {
    font-size: 2em;
    margin-bottom: 50px;
  }
  
  .photos-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }
  
  .photos-container img {
    width: 250px;
    height: 250px;
    margin: 20px;
    border-radius: 50%;
    border: 5px solid rgb(218, 4, 146);
    box-shadow: 0 0 10px 2px white;
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
  }
  
  .photos-container img.active {
    opacity: 1;
  }
  
  .buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .buttons-container button {
    background-color: white;
    border: none;
    color: #FF69B4;
    padding: 10px 20px;
    text-align: center;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    box-shadow: 0 0 5px 0 #FF69B4;
    transition: all 0.3s ease-in-out;
  }
  
  .buttons-container button.active {
    background-color: #FF69B4;
    color: white;
  }
  
  .buttons-container button:hover {
    background-color: #FF69B4;
    color: white;
  }
  